<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>SucSeed</title>
    <%= favicon_link_tag "logo.png" %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%# Tailwind CSS（esbuild ではなく @tailwindcss/cli が生成） %>
    <%= stylesheet_link_tag "tailwind", media: 'all' %>
    <%# jQuery / Popper / Bootstrap を Sprockets 経由で読み込む %>
    <%= javascript_include_tag "vendor", 'data-turbolinks-track': 'reload' %>
    <%# esbuild が app/assets/builds/application.js を生成する。type: module が必要 %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
  <!-- Login Modal (React island: frontend/spa/LoginModal.tsx) -->
  <div id="spa-login-modal"></div>
    <%
      _spa_role = if session[:creator]
        'creator'
      elsif session[:id] && Heir.find_by(user_id: session[:id])
        'heir'
      elsif session[:id]
        'user'
      else
        'guest'
      end
      _spa_categories = ArtCategory.all.map { |c| { id: c.id, name: c.name } }.to_json
    %>
    <header>
      <%# Navbar (React island: frontend/spa/Navbar.tsx) %>
      <div
        id="spa-navbar"
        data-role="<%= _spa_role %>"
        data-art-categories="<%= h(_spa_categories) %>"
        data-logo-src="<%= image_path('logo.png') %>"
        data-title-src="<%= image_path('title.png') %>"
      ></div>
    </header>
    <div class="container-fluid">
      <%= yield %>
    </div>

    <% if session[:id] != nil %>
      <div class="none-margin-box"></div>
    <% end %>
    <!-- Footer (React island: frontend/spa/Footer.tsx) -->
    <div id="spa-footer"></div>
  </body>
</html>
